.page {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.page h1 {
    margin: 0;
    color: #fff;
}

.home {
    background-color: #336699;
}

.news {
    background-color: rgba(51, 102, 102);
}

.personal {
    background-color: rgba(102, 51, 102);
}